/* GENERAL PAGE LAYOUT */
.eod-container {
    padding: 20px;
}


.eod-header h1 {
    font-size: 1.8rem;
}

@media (max-width: 768px) {
    .eod-header {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 10px;
    }

    .eod-header h1 {
        font-size: 1.5rem;
    }

    .eod-date-filter {
        width: 100%;
    }
}



/* EOD FORM */
.eod-form textarea {
    font-size: 14px;
}

@media (max-width: 768px) {
    .eod-form button {
        width: 100%;
    }
}



.table-responsive {
    overflow-x: auto;
}

.table td,
.table th {
    white-space: nowrap;
    vertical-align: middle;
}

@media (max-width: 600px) {

    .table td,
    .table th {
        font-size: 13px;
        padding: 8px;
    }


    .table td:nth-child(4),
    .table th:nth-child(4) {
        display: none;
    }
}


/* BADGES */
.badge {
    font-size: 13px;
    padding: 6px 10px;
}



/* BUTTONS (APPROVE / REJECT) */
.table button {
    padding: 4px 10px;
    font-size: 13px;
}

@media (max-width: 600px) {
    .table button {
        width: 100%;
        margin-bottom: 5px;
    }
}



/*  EMPTY STATE */
.empty-row {
    text-align: center;
    font-size: 1rem;
    padding: 20px 0;
}



/* CARD SPACING */
.card {
    border-radius: 10px;
}

.card-header {
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .card-header {
        font-size: 1rem;
    }
}