
.employee-profile {
  width: 100%;
  padding: 0 15px;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}


.profile-header {
  position: relative;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 25px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}


.profile-cover {
  height: 180px;
  width: 100%;
  background-image: url("../../../public/Raynxsystemslogo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; 
}


.profile-info {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
  margin-top: -60px;
}


.profile-avatar {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #fff;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-placeholder {
  font-size: 40px;
  font-weight: bold;
  color: #555;
}

.profile-meta h2 {
  margin: 0;
  font-weight: 700;
}

.employee-meta span {
  display: block;
  font-size: 14px;
  margin-top: 5px;
}

/* RESPONSIVE HEADER */
@media (max-width: 768px) {
  .profile-info {
    flex-direction: column;
    text-align: center;
  }
}


.profile-tabs .nav-link {
  font-weight: 600;
}

.profile-tabs .nav-link.active {
  border-bottom: 3px solid #0d6efd;
}

.card {
  border-radius: 12px !important;
}

.card-header {
  font-weight: bold !important;
}

.card-body p {
  font-size: 15px;
}


.stat-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 0;
}


.table-responsive {
  overflow-x: auto;
}

table th,
table td {
  white-space: nowrap;
}

@media (max-width: 768px) {
  table th,
  table td {
    font-size: 13px !important;
    padding: 8px !important;
  }
}

@media (max-width: 480px) {
  table th:nth-child(5),
  table td:nth-child(5) {
    display: none;
  }
}

@media (max-width: 768px) {
  .row > div {
    margin-bottom: 20px !important;
  }
}



@media (max-width: 768px) {
  .attendance-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background: #fff;
  }

  .attendance-card .badge {
    font-size: 0.75rem;
  }

  .attendance-card div {
    font-size: 14px;
  }
}
