/* PAGE SPACING */
div {
  box-sizing: border-box;
}

/* HEADER RESPONSIVE */
.d-flex.mb-3 {
  flex-wrap: wrap;
  gap: 10px;
}

.d-flex.mb-3 h2 {
  font-size: 1.8rem;
}

@media (max-width: 768px) {
  .d-flex.mb-3 {
    flex-direction: column !important;
    align-items: flex-start !important;
  }

  .d-flex.mb-3 h2 {
    font-size: 1.4rem;
  }

  .d-flex.mb-3 .form-control {
    width: 100%;
  }
}

/*  FORM RESPONSIVE */
form button {
  padding: 10px 18px;
}

@media (max-width: 768px) {
  form button {
    width: 100%;
  }

  form textarea,
  form select,
  form input[type="date"] {
    font-size: 14px;
  }
}

/* TABLE RESPONSIVE */
.table-responsive {
  overflow-x: auto !important;
  -webkit-overflow-scrolling: touch;
}

.table th,
.table td {
  white-space: nowrap;
  vertical-align: middle;
}

@media (max-width: 600px) {
  .table th,
  .table td {
    font-size: 13px;
    padding: 8px 10px;
  }


  .table th:nth-child(6),
  .table td:nth-child(6) {
    display: none;
  }


  .table button {
    width: 100%;
    margin-bottom: 6px;
  }
}

/*  STATUS BADGES  */
.badge {
  padding: 6px 10px;
  font-size: 13px;
}

/*  CARD HEADERS  */
.card-header {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .card-header {
    font-size: 1rem;
  }
}

/* EMPTY ROW */
td.text-center {
  padding: 20px 0;
  font-size: 1rem;
}

/* FIX TABLE BREAKING IN SMALL SCREENS  */
.table td,
.table th {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
